.SINContainer {
    background-color: #023430;
    height: 100%;
    margin-top: 0px !important;
    display: flex !important;
    width: 100% !important;
    justify-content: center;
}

.SINIMG {
    background-color: #00684a;
    height: 100% !important;
    min-height: 100% !important;

    display: flex;
     align-items: center;

}

.SINRight {
    display: flex;
    align-items: center;
    width: 380px !important;
    margin: 0px !important;
    background-color: white;
}

.SINFormParent {
    display: flex;
    justify-content: center;
    height: 80%;
}

.SINForm {
    height: 100px;
    
    
}

.SINForm h4 {
    font-size: 30px;
    text-align: left;
    color: #00684a;
    padding: 36px 0px;
}


.sinSendbtn {
    border: 1px solid rgb(0, 0, 0) !important;
    background-color: #00ED64 !important;
    color: black !important;
    font-weight: 600 !important;
    text-decoration: none !important;

}

.sinSignSpanDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sinSignbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em !important;
    font-weight: 100 !important;
    text-decoration: none !important;
    
}

.sinSignspan {
    font-weight: 100 !important;
    font-size: 1.1em !important;
    text-align: center;
}


@media screen and (max-width: 970px) {
    .sinSbtns {
        flex-direction: column !important;
    }
    
    
}