


.tcardparent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tcard {
    min-width: 320px;
    
    border-radius: 28px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 7px 15px;
    padding: 10px 24px;
}

.tCardi {
    width: 56px !important;
    height: 56px;
}

.tCardicon {
    width: 100%;
    height: 100%;
}